$primary: #38bdf8;
$secondary: #334155;
$success: #6ee7b7;
$danger: #ef4444;
$warning: #facc15;
$info: #67e8f9;
$light: #f0f9ff;
$dark: #374151;
$muted: #cbd5e1;
$white: #fff;
$black: #000;
$theme: (
    color: (
        primary: $primary,
        secondary: $success,
        danger: $danger,
    ),
    spacing: (
        0: 0rem,
        1: 0.25rem,
        2: 0.5rem,
        3: 1rem,
        4: 1.5rem,
        5: 3rem,
    ),
);
